body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f9;
  display: flex;
  min-height: 100vh;
}
  
.sidebar {
  width: 144px;
  background-color: #1e2a38;
  color: white;
  padding: 20px;
  flex-shrink: 0;
  
  h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;

    &:hover {
      background-color: #2e3b4e;
    }
  }
}
  
.main-content {
  flex-grow: 1;
  padding: 30px;
}

// footer {
//   margin-top: auto;
//   background-color: #e0e0e0;
//   text-align: center;
//   padding: 10px;
// }

.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.navbar {
  display: flex;
  height: 90px;
  background-color: #1f2937; // dark grey
  color: white;
  align-items: center;
  justify-content: right;
  padding: 0 1.5rem;
}

.dashboard-body {
  display: flex;
  flex: 1; // take remaining height after navbar
  overflow: hidden;
}

// .sidebar {
//   width: 240px;
//   background-color: #111827;
//   color: white;
//   padding: 1.5rem;
//   height: 100%;
//   overflow-y: auto;
// }

// .main-content {
//   flex: 1;
//   background-color: #f9fafb;
//   padding: 1.5rem;
//   overflow-y: auto;
// }
